body {
  padding: 50px;
  background-color: #eee;
}
.container1{
  width: 300px;
  padding: 10px;
  margin: auto; 
  text-align:center;
}
.log {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.log .form-signin-heading,
.log .checkbox {
  margin-bottom: 10px;
}
.log .checkbox {
  font-weight: normal;
}
.log .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.log .form-control:focus {
  z-index: 2;
}
.log input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.log input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar {
    background-color: #000;
    border-color: #fff;
    font-weight:bold;
    color: #fff;
    font-size:15px;
}
.reg{
  font-size:15px;
  width: 300px;
  padding: 10px;
  margin: auto; 

}
.car{
  padding:1em 5em 1em;
   text-indent: 50px;
   color:#000;
}
.price{
  color:#000;
  font-weight:600;
  font-size:23px;
  padding-left: 0px;
  text-align: right;
  padding-right:40px;
}

.order{
   font-size:15px;
  width: 500px;
  

 text-align: center;
}
.rating{
  font-size:23px;
  text-align: left;
  font-weight:bold;
  color: #4169E1;
  float: left;
}
.selectpicker{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
}
.selectpicker:focus {
  z-index: 2;
}
